[submodule "onebyone-frontend"]
	path = onebyone-frontend
	url = https://github.com/ykh9871/onebyone-frontend.git
[submodule "onebyone-backend"]
	path = onebyone-backend
	url = https://github.com/ykh9871/onebyone-backend.git
